// font config
$font-stack:'Montserrat', sans-serif;
$blue-color: #091540;
$white-color: #fefdfd;
$azure-gradient: #0072ab2e;
$white-gradient: #ffffff1a;
$white-drop-shadow: #ffffff40;
$black-box-shadow: #080808;

// main config 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    max-width: 100%;
    background-image: url(/assets/media/img/water-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}